@font-face {
  font-family: "Font";
  src: url("font/Jomhuria-Regular/Sahel.ttf");
}
body {
  direction: rtl;
  text-transform: Uppercase;
  font-family: "Font";
}

nav div {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: normal;
  direction: rtl;
}
nav a {
  color: white;
  padding: 5px;
  margin: 0px 10px 5px 0px;
  text-align: center;
  text-decoration: none;
  font-family: "Font";
  src: url("font/Bebas_Neue/BebasNeue-Regular.ttf");
}

/* highlight style */
.highlight-title {
  background-color: yellow;
  width: fit-content;
  padding-right: 20px;
  padding-left: 50px;
  font-size: 2.5vw;
  font-weight: bolder;
  border-radius: 0 5px 5px 0;
}

.highlight-title-intro {
  background-color: yellow;
  width: fit-content;
  padding-left: 20px;
  padding-right: 30%;
  font-size: 4vw;
  font-weight: bolder;
}
.highlight-left {
  background-color: rgba(229, 255, 0, 0.713);
  backdrop-filter: blur(5px);
  width: 65%;
  padding-left: 10%;
  font-size: 3vw;
  font-weight: bolder;
  text-align: center;
}
.highlight-right {
  background-color: rgba(229, 255, 0, 0.713);
  max-width: 100%;
  margin-left: 20%;
  padding-left: 10%;
  font-size: 2.5vw;
  font-weight: bolder;
}
/* highlight style */

.main {
  height: 100%;
  margin: 0;
}

.image {
  padding: 2% 3% 2% 3%;
  margin: 3%;
}
.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-radius: 10px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#FirstImg {
  margin-top: 10%;
}

#TI {
  padding: 3% 0 1% 0;
  margin: 5%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.paragraph {
  padding: 0 5% 0 5%;
  text-align: justify;
  font-size: 2vw;
  font-weight: bold;
}

#description {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-size: 2.5vw;
  padding: 2% 3% 2% 3%;
  margin: 3%;
  border-radius: 15px;
  font-weight: bold;
}
#description img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 65%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.description-ul {
  font-size: 1.5vw;
  font-weight: bold;
}
.description-paragraph {
  text-align: justify;
  font-size: 1.5vw;
  font-weight: bold;
}

li {
  list-style: none;
  border-bottom: 1px solid rgb(208, 208, 0);
  width: fit-content;
  margin-top: 20px;
}

.call-buton .cc-calto-action-ripple {
  z-index: 99999;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #ec8b00;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
  animation: cc-calto-action-ripple 0.6s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.call-buton .cc-calto-action-ripple img {
  margin: 0 auto;
  width: 30px;
}
@-webkit-keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
  }
}

@keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
  }
}

span.num {
  position: absolute;
  color: #ec8b00;
  left: -30%;
  bottom: -50%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .highlight-title {
    background-color: yellow;
    width: fit-content;
    padding-right: 20px;
    padding-left: 50px;
    font-size: 4.5vw;
    font-weight: bolder;
    border-radius: 0 5px 5px 0;
  }

  .highlight-title-intro {
    background-color: yellow;
    width: fit-content;
    padding-left: 20px;
    padding-right: 30%;
    font-size: 4vw;
    font-weight: bolder;
  }
  .paragraph {
    padding: 0 5% 0 5%;
    text-align: justify;
    font-size: 3.5vw;
    font-weight: bold;
  }
  #description {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size: 4vw;
    padding: 2% 3% 2% 3%;
    margin: 3%;
    border-radius: 15px;
    font-weight: bold;
  }
  .description-ul {
    font-size: 3.5vw;
    font-weight: bold;
  }
  .description-paragraph {
    text-align: justify;
    font-size: 3.5vw;
    font-weight: bold;
  }
}
