body {
  /* background-image: url("https://wallpaperaccess.com/full/1502023.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: Uppercase;
  direction: rtl;
}

nav div {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: normal;
  align-content: normal;
}
nav a {
  color: white;
  padding: 5px;
  margin: 0px 10px 5px 0px;
  text-align: center;
  text-decoration: none;
}

/* highlight style */
.highlight-title {
  background-color: yellow;
  width: fit-content;
  padding-right: 20px;
  padding-left: 50px;
  font-size: 2.5vw;
  font-weight: bolder;
  border-radius: 0 5px 5px 0;
}

.highlight-title-intro {
  /* direction: ltr; */
  background-color: yellow;
  width: fit-content;
  padding-left: 20px;
  padding-right: 30%;
  font-size: 4vw;
  font-weight: bolder;
}
.highlight-left {
  background-color: rgba(229, 255, 0, 0.713);
  backdrop-filter: blur(5px);
  width: 65%;
  padding-left: 10%;
  font-size: 3vw;
  font-weight: bolder;
  text-align: center;
}
.highlight-right {
  background-color: rgba(229, 255, 0, 0.713);
  max-width: 100%;
  margin-left: 20%;
  padding-left: 10%;
  font-size: 2.5vw;
  font-weight: bolder;
  /* text-align: center; */
}
/* highlight style */

/* ChangeLanguageButton */

.change-language {
  background-color: rgba(255, 255, 255, 0.478);
  backdrop-filter: blur(10px);
  border-radius: 75px;
  width: 20vh;
  left: 50%;
  top: 10px;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -8px rgba(0, 0, 0, 0.75);
}
.change-language img {
  border-radius: 150%;
  margin: 10px;
  max-width: 3vh;
}
/* ChangeLanguageButton */

.main {
  height: 100%;
  margin: 0;
  background-color: red;
}

.image img {
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
  /* height: 100px; */
  width: 100%;
  height: auto;
  overflow: hidden;
  /* max-height: 100vh; */
}

#FirstImg {
  /* background-color: red; */
  margin-top: 30%;
}

#TI {
  margin-top: 10%;
}
.paragraph {
  /* background-color: green; */
  padding: 2%;
  text-align: justify;
  font-size: 2vw;
}

.description {
  font-size: 2.5vw;
  /* background-color: blue; */
}
.description-ul {
  /* background-color: red; */
  width: fit-content;
  font-size: 1.5vw;
}
.description-paragraph {
  /* background-color: aqua; */
  padding: 1%;
  text-align: justify;
  font-size: 1.5vw;
}
li {
  list-style: none;
}

span {
  background: rgb(224, 255, 0);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8603816526610644) 41%, rgba(255, 255, 255, 0.8603816526610644) 48%, rgba(224, 255, 0, 1) 100%);
  color: black;
  z-index: -100000;
  max-width: 100%;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
